
.icon-dsmz:before { content: '\e800'; } /* '' */
.icon-flask-bacterium:before { content: '\e801'; } /* '' */
.icon-flask-check:before { content: '\e802'; } /* '' */
.icon-flask-compound:before { content: '\e803'; } /* '' */
.icon-flask-pen:before { content: '\e804'; } /* '' */
.icon-flask-plus-circle:before { content: '\e805'; } /* '' */
.icon-fungi:before { content: '\e806'; } /* '' */
.icon-gas:before { content: '\e807'; } /* '' */
.icon-mortar-pestle:before { content: '\e808'; } /* '' */
.icon-open-access:before { content: '\e809'; } /* '' */
.icon-phage:before { content: '\e80a'; } /* '' */
.icon-plant-virus:before { content: '\e80b'; } /* '' */
.icon-plask-plus:before { content: '\e80c'; } /* '' */
.icon-protein:before { content: '\e80d'; } /* '' */
.icon-protist:before { content: '\e80e'; } /* '' */
.icon-streptococci:before { content: '\e80f'; } /* '' */
.icon-vials:before { content: '\e810'; } /* '' */
.icon-yeast:before { content: '\e811'; } /* '' */
.icon-algae:before { content: '\e812'; } /* '' */
.icon-bacterium:before { content: '\e813'; } /* '' */
.icon-cell:before { content: '\e814'; } /* '' */
.icon-chip-ai:before { content: '\e815'; } /* '' */
.icon-compound:before { content: '\e816'; } /* '' */
