body {
  margin: 10px;
}

#container {
  display: grid;
  grid-template-columns: 60% 30%;
  grid-template-rows: auto;
  column-gap: 5%;
}

#chunk {
  line-height: 2;
}

#summary {
  line-height: 3;
}

.entity {
  box-sizing: border-box;
  padding: 0.35em 0.35em 0.5em;
  border-radius: 5px;
}

.in-word-left {
  padding-left: 0;
}

.in-word-right {
  padding-right: 0;
}

span[typeof="d3o:Strain"] {
  background-color: #F39A9D;
}

span[typeof="d3o:Bacteria"] {
  background-color: #CAE591;
}

span[typeof="d3o:Enzyme"] {
  background-color: #9BD1E5;
}

span.entity::after :not(.entitySummary) {
  position: relative;
  bottom: -8px;
  left: 0.5ex;
  font-size: 90%;
  font-weight: bold;
  padding-right: 0.25em;
}

span.entity[typeof="d3o:Strain"]::after :not(.entitySummary) {
  content: "Strain";
  color: #36155D;
}

span.entity[typeof="d3o:Bacteria"]::after :not(.entitySummary) {
  content: "Bacteria";
  color: #5A249B;
}

span.entity[typeof="d3o:Enzyme"]::after :not(.entitySummary) {
  content: "Enzyme";
  color: #4B1E83;
}

.entitySummary {
  margin-right: 1em;
}

.dropdown {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 1000;
}

.dropdown button {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 2px 0;
  text-align: left;
}

/* Tables */
table-wrap {
  display: grid;
  grid-template-colums: auto;
  justify-items: center;
  max-width: 100%;
  overflow-x: auto;
}

td {
  padding: 1ex;
}
